<div class="flex flex-col md:flex-row gap-6 text-white mt-8 mb-6">
     <!-- Column 1: Text and Social Icons (flex 7) -->
     <div class="flex-[7] md:text-left">
          <h2 class="text-2xl font-semibold leading-10 mb-2">
               {{this.UIResource.header_title}}
               <span class="text-cyan-400">{{this.UIResource.header_name}}</span>
               {{this.UIResource.header_position}}👋
          </h2>
          <p class="mb-4 leading-loose text-sm sm:text-base text-gray-400">{{this.UIResource.header_description}}</p>
          <div class="flex justify-start space-x-4 mt-6">
               <a href="https://github.com/leevantuan" class="text-white hover:text-gray-300 inline-block">
                    <img src="https://res.cloudinary.com/dgzupk0ec/image/upload/v1747292024/github_919847_yf3dbe.png"
                         alt="GitHub Logo" class="w-10 h-10 transition-transform duration-200 hover:translate-y-1" />
               </a>
               <a href="https://www.linkedin.com/in/letuaan/" class="text-white hover:text-gray-300 inline-block">
                    <img src="https://res.cloudinary.com/dgzupk0ec/image/upload/v1747292024/linkedin_3536505_edya4z.png"
                         alt="LinkedIn Logo" class="w-10 h-10 transition-transform duration-200 hover:translate-y-1" />
               </a>
               <a href="tel:+84817251624" class="text-white hover:text-gray-300 inline-block">
                    <img src="https://res.cloudinary.com/dgzupk0ec/image/upload/v1747292024/mobile_16076069_uhvgxw.png"
                         alt="Mobile Logo" class="w-10 h-10 transition-transform duration-200 hover:translate-y-1" />
               </a>
               <a href="mailto:levantuan.work@gmail.com" class="text-white hover:text-gray-300 inline-block">
                    <img src="https://res.cloudinary.com/dgzupk0ec/image/upload/v1747292024/gmail_732200_lkwnhf.png"
                         alt="Gmail Logo" class="w-10 h-10 transition-transform duration-200 hover:translate-y-1" />
               </a>
          </div>
     </div>

     <!-- Column 2: Avatar Image (flex 3) -->
     <div class="flex-[3] flex justify-center items-center md:mt-0">
          <img src="https://res.cloudinary.com/dgzupk0ec/image/upload/v1747292775/avt_notbackground_kovy54.png"
               alt="lxartz Avatar" class="rounded-full w-60 h-80  mt-[-32px]" />
     </div>
</div>